<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <app-menu></app-menu>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">
            <!-- Topbar -->
            <app-header></app-header>
            <!-- End of Topbar -->

            <!-- -------CORPO DA PÁGINA-----  -->
            <div class="container-fluid">

                <h1>Corpo da página routerOutlet</h1>

            </div>
            <!-- -------FIM CORPO DA PÁGINA-----  -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <app-footer></app-footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->
</div>
<!-- END of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#">
    <i class="fas fa-angle-up"></i>
</a>